* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #252B42;
  margin-top: 13px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}


nav ul li a {
  text-decoration: none;
  color: #737373;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.header-buttons a {
  margin-left: 10px;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.header-buttons .login {
  background: none;
  color: #FF685B;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: right;
}

.header-buttons .join-us {
  background: #FF685B;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  padding: 15px 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.header-buttons .join-us img.arrow-icon {
  margin-left: 10px;
  width: 12px;
  height: 10px;
}

.hero-section {
  padding: 20px 0;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  margin: -50px 0 0;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.hero-content {
  max-width: 50%;
  margin-left: 10%;
}

.header-tag {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #FF685B;
  margin-bottom: 35px;
}

.headline {
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-bottom: 35px;
}

.sub-headline {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 400;
  color: #737373;
  margin-bottom: 35px;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.hero-buttons .btn {
  padding: 15px 40px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: center;
}

.hero-buttons .btn-primary {
  background: #FF685B;
  color: #fff;
}

.hero-buttons .btn-secondary {
  background: none;
  color: #FF685B;
  border: 1px solid #FF685B;
}

.hero-image {
  position: relative;
  width: 50%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.services-section {
  padding: 50px 0;
  text-align: left;
  position: relative;
  margin-top: -200px;
  z-index: 2;
  margin-left: 10%;
  margin-right: 10%;
}

.service-card {
  display: inline-block;
  width: 30%;
  padding: 30px;
  background: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  z-index: 2;
}

.service-icon {
  width: 72px;
  height: 72px;
  margin: 20px 20px 0;
  box-sizing: border-box;
}

.service-card h3 {
  font-size: 16px;
  color: #252B42;
  font-weight: 700;
  margin: 20px 20px 0;
  box-sizing: border-box;
}

.service-line {
  width: 50px;
  height: 2px;
  background-color: #E74040;
  margin: 20px 20px 0;
  box-sizing: border-box;
}

.service-card p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 20px 20px 0;
  box-sizing: border-box;
}
